* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: rgb(255, 230, 234);
}

.logo {
    text-align: center;
    background-color: rgb(255, 217, 224);
    padding: 10px 0px;
}

.logo p {
    font-family: arial;
    font-size: 7px;
    color: #111;
}

.logo img {
    width: 250px;
}

.container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    text-align: center;
}

.container p {
    font-size: 10px;
    font-family: verdana;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.pics img {
    height: 120px;
    width: 120px;
    border: 3px solid rgb(255, 138, 187);
    border-radius: 5px;
}

.pics {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    margin-top: 20px;
}

footer {
    background-color: rgb(225, 169, 236);
    padding: 20px 0px;
    text-align: center;
}

footer p {
    font-family: monospace;
    font-size: 9px;
}

@media (max-width: 280px) {
    body {
        background-color: rgb(255, 230, 234);
    }
    
    .logo {
        text-align: center;
        background-color: rgb(255, 217, 224);
        padding: 10px 0px;
    }
    
    .logo p {
        font-family: arial;
        font-size: 7px;
        color: #111;
    }
    
    .logo img {
        width: 200px;
    }
    
    .container {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
        text-align: center;
    }
    
    .container p {
        font-size: 10px;
        font-family: verdana;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    
    .pics img {
        height: 60px;
        width: 60px;
        border: 3px solid rgb(255, 138, 187);
        border-radius: 5px;

    }
    
    .pics {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        width: 80%;
        margin-top: 20px;
    }
    
    footer {
        background-color: rgb(225, 169, 236);
        padding: 20px 0px;
        text-align: center;
    }
    
    footer p {
        font-family: monospace;
        font-size: 9px;
    }
}

@media (max-width: 310px) {
    body {
        background-color: rgb(255, 230, 234);
    }
    
    .logo {
        text-align: center;
        background-color: rgb(255, 217, 224);
        padding: 10px 0px;
    }
    
    .logo p {
        font-family: arial;
        font-size: 7px;
        color: #111;
    }
    
    .logo img {
        width: 230px;
    }
    
    .container {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
        text-align: center;
    }
    
    .container p {
        font-size: 10px;
        font-family: verdana;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    
    .pics img {
        height: 100px;
        width: 100px;
        border: 3px solid rgb(255, 138, 187);
        border-radius: 5px;

    }
    
    .pics {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        width: 80%;
        margin-top: 20px;
    }
    
    footer {
        background-color: rgb(225, 169, 236);
        padding: 20px 0px;
        text-align: center;
    }
    
    footer p {
        font-family: monospace;
        font-size: 9px;
    }
}

@media (max-width: 320px) {
    body {
        background-color: rgb(255, 230, 234);
    }
    
    .logo {
        text-align: center;
        background-color: rgb(255, 217, 224);
        padding: 10px 0px;
    }
    
    .logo p {
        font-family: arial;
        font-size: 7px;
        color: #111;
    }
    
    .logo img {
        width: 250px;
    }
    
    .container {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
        text-align: center;
    }
    
    .container p {
        font-size: 10px;
        font-family: verdana;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    
    .pics img {
        height: 100px;
        width: 100px;
        border: 3px solid rgb(255, 138, 187);
        border-radius: 5px;

    }
    
    .pics {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        width: 80%;
        margin-top: 20px;
    }
    
    footer {
        background-color: rgb(225, 169, 236);
        padding: 20px 0px;
        text-align: center;
    }
    
    footer p {
        font-family: monospace;
        font-size: 9px;
    }
}

@media (max-width: 360px) {
    body {
        background-color: rgb(255, 230, 234);
    }
    
    .logo {
        text-align: center;
        background-color: rgb(255, 217, 224);
        padding: 10px 0px;
    }
    
    .logo p {
        font-family: arial;
        font-size: 8px;
        color: #111;
    }
    
    .logo img {
        width: 250px;
    }
    
    .container {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
        text-align: center;
    }
    
    .container p {
        font-size: 10px;
        font-family: verdana;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    
    .pics img {
        height: 130px;
        width: 130px;
        border: 3px solid rgb(255, 138, 187);
        border-radius: 5px;

    }
    
    .pics {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        width: 80%;
        margin-top: 20px;
    }
    
    footer {
        background-color: rgb(225, 169, 236);
        padding: 20px 0px;
        text-align: center;
    }
    
    footer p {
        font-family: monospace;
        font-size: 9px;
    }
}

@media (max-width: 390px) {
    body {
        background-color: rgb(255, 230, 234);
    }
    
    .logo {
        text-align: center;
        background-color: rgb(255, 217, 224);
        padding: 10px 0px;
    }
    
    .logo p {
        font-family: arial;
        font-size: 8px;
        color: #111;
    }
    
    .logo img {
        width: 250px;
    }
    
    .container {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
        text-align: center;
    }
    
    .container p {
        font-size: 10px;
        font-family: verdana;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    
    .pics img {
        height: 120px;
        width: 120px;
        border: 3px solid rgb(255, 138, 187);
        border-radius: 5px;

    }
    
    .pics {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        width: 80%;
        margin-top: 20px;
    }
    
    footer {
        background-color: rgb(225, 169, 236);
        padding: 20px 0px;
        text-align: center;
    }
    
    footer p {
        font-family: monospace;
        font-size: 9px;
    }
}
